body {
  background-color: #928585;
}

#playing-cards {
  background-color: #fff;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  padding: 20px 40px;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 15px;
}

.card {
  font-family: "Georgia", serif;

  display: flex;
  flex-direction: column;
  min-width: 300px;
  border: 1px solid #aaa;
  border-radius: 12px;
  justify-content: space-between;
  font-size: 28px;
  padding: 0 40px;
  background-color: #fff;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.left {
  font-size: 32px;
  font-weight: bold;
  align-self: flex-start;
}

.middle {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 80px;
  line-height: 1;
  margin: 20px 0;
}

.right {
  font-size: 32px;
  font-weight: bold;
  align-self: flex-end;
}